<!--Confirmation Dialog-->
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle"></p-confirmDialog>

<div class="ui-g">
  <!--MAIN Products-->
  <div class="ui-g-10 ui-sm-12">
    <div class="ui-g-6 ui-md-6 ui-sm-12 ui-xs-12">
      <h2><i class="fa fa-product-hunt"></i> Products</h2>
    </div>
    <div class="ui-g-6 ui-md-6 ui-sm-12 ui-xs-12">
      <!--TODO-->
    </div>
    <!--PRODUCTS Data-->
    <div class="ui-g-12">
      <p-dataTable
        [value]="products"
        [responsive]="true"
        selectionMode="single"  
        (onRowSelect)="onRowSelect($event)"
        styleClass="productsTable"
      >
        <p-column field="productNumber" header="ID" [style]="{'width':'15%'}"></p-column>
        <p-column field="productDetails.name" header="Name" [style]="{'width':'35%'}"></p-column>
        <p-column field="productDetails.unit" header="Unit" [style]="{'width':'13%'}"></p-column>
        <p-column header="Unit Price" [style]="{'width':'12%'}">
          <ng-template let-col let-product="rowData" pTemplate="body">
            <span>{{product.productSellPrice | currency:'USD':true}}</span>
          </ng-template>
        </p-column>
        <p-column header="Vendor Price" [style]="{'width':'12%'}">
          <ng-template let-col let-product="rowData" pTemplate="body">
            <span>{{product.productBuyPrice | currency:'USD':true}}</span>
          </ng-template>
        </p-column>
        <p-column field="inStock" header="Quantity" [style]="{'width':'13%'}"></p-column>
        <p-footer *ngIf="products">
          Total products: {{products.length}} 
        </p-footer>
      </p-dataTable>
    </div> <!--Ends Products Data-->
  </div>
  <!--PRODUCT Sidebar-->
  <div class="ui-g-2 ui-sm-12">
    <button 
      pButton 
      type="button" 
      class="ui-button-success" 
      icon="fa-plus" 
      iconPos="left" 
      label="Add Product" 
      (click)="onAddProductClick()" 
      id="addProductButton"
    >
    </button>
  </div>
</div>
