<!--Confirmation Dialog-->
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle"></p-confirmDialog>

<div class="ui-g">
  <!--MAIN Products-->
  <div class="ui-g-10 ui-sm-12">
    <div class="ui-g-6">
      <h2><i class="fa fa-product-hunt"></i> Products</h2>
    </div>
    <div class="ui-g-6">
      <!--TODO-->
    </div>
  </div>
  <div class="ui-g-2 ui-sm-12">
    <button 
      pButton 
      type="button" 
      class="ui-button-success" 
      icon="fa-plus" 
      iconPos="left" 
      label="Add Product" 
      (click)="onAddProductClick()" 
      id="addProductButton"
    >
    </button>
  </div>
</div>
