$componentBg: #f5f3e5;
$headerFooterColor: #ece8da;
$borderColor: #e4dfce;

p-dataGrid div.ui-g{
    text-align: center;
}

#modalContent {
    background: $componentBg;
}

#modalHeader, #modalFooter {
    background: $headerFooterColor;
    border: 1px solid $borderColor;
}

modal hr{
    color: $headerFooterColor;
}
