<p *ngIf="role == 'Client'">
  Client dashboard works!
</p>
<div *ngIf="role == 'Admin'">
  <div class="ui-g">
    <!--Main Dashboard-->
    <div class="ui-g-10 ui-sm-12 ui-g-nopad">
        <div class="ui-g-6">
          <h2><i class="fa fa-dashcube"></i> Dashboard</h2>
        </div>
        <div class="ui-g-6">
          <h5 class="pull-right text-muted">Today: {{todayDate | date:'short'}}</h5>
        </div>
        <hr>
        <!--Stats Panel-->
        <div class="ui-g-12 ui-g-nopad">
          <p-panel header="Statistics">
            <div class="ui-g">
              <div class="ui-g-6">
                <p-panel header="Clients" *ngIf="clients" [toggleable]="true" styleClass="dashboardPanels">
                  Total clients: {{clients.length}}
                </p-panel>
              </div>
              <div class="ui-g-6">
                <p-panel header="Products" *ngIf="products" [toggleable]="true" styleClass="dashboardPanels">
                  Total products: {{products.length}}
                </p-panel>
              </div>
              <div class="ui-g-6">
                <p-panel header="Orders" [toggleable]="true" styleClass="dashboardPanels">
                  Total orders: <!--TODO-->
                </p-panel>
              </div>
              <div class="ui-g-6">
                <p-panel header="Vendor Orders" [toggleable]="true" styleClass="dashboardPanels">
                  Total vendor orders: <!--TODO-->
                </p-panel>
              </div>
            </div>
          </p-panel>
        </div>
    </div>
    <!--Sidebar-->
    <div class="ui-g-2 ui-sm-12">
      <app-sidebar></app-sidebar>
    </div>
  </div>
</div>
