<!--Confirmation Dialog-->
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle"></p-confirmDialog>

<div *ngIf="role == 'Client'">
  <div class="ui-g">
    <div class="ui-g-6">
        <h2><i class="fa fa-book"></i> Orders</h2>
    </div>
    <div *ngIf="client" class="ui-g-6 ui-rtl" dir="rtl">
      <h5 class="text-muted">Balance: 
        <span
          [class.text-danger]="hasBalance"
          [class.text-success]="!hasBalance"
        >
          {{client.balance | currency:'USD':true}}
        </span>
      </h5>
    </div>
    <div class="ui-g-12">
      <p-dataTable
        [value]="orders"
        [responsive]="true"
        selectionMode="single" 
        [(selection)]="selectedOrder" 
        (onRowSelect)="onRowSelect($event)"
        styleClass="clientOrdersTable"
      >
        <p-column header="Date" [style]="{'width':'17%'}">
          <ng-template let-col let-order="rowData" pTemplate='body'>
            <span>{{order.orderDate | date:'short'}}</span>
          </ng-template>
        </p-column>
        <p-column field="orderNumber" header="ID"></p-column>
        <p-column header="No. of Products" [style]="{'width':'12%'}">
          <ng-template pTemplate="body" let-col let-order="rowData">
            <span>{{order.orderDetails.length}}</span>
          </ng-template>
        </p-column>
        <p-column header="Total" [style]="{'width':'10%'}">
          <ng-template let-col let-order="rowData" pTemplate='body'>
            <span>{{order.orderBalance | currency:'USD':true}}</span>
          </ng-template>
        </p-column>
        <p-footer *ngIf="orders">
          Total orders: {{orders.length}}
        </p-footer>
      </p-dataTable>
    </div>
  </div>
</div>
<div *ngIf="role == 'Admin'">
  <div class="ui-g">
    <!--Main Dashboard-->
    <div class="ui-g-10 ui-sm-12 ui-g-nopad">
        <div class="ui-g-6">
          <h2><i class="fa fa-dashcube"></i> Dashboard</h2>
        </div>
        <div class="ui-g-6">
          <h5 class="pull-right text-muted">Today: {{todayDate | date:'short'}}</h5>
        </div>
        <!--Stats Panel-->
        <div class="ui-g-12 ui-g-nopad">
          <p-panel header="Statistics">
            <div class="ui-g">
              <div class="ui-g-6 ui-md-6 ui-sm-12 ui-xs-12">
                <p-panel header="Clients" *ngIf="clients" [toggleable]="true" styleClass="dashboardPanels">
                  Total clients: {{clients.length}}
                </p-panel>
              </div>
              <div class="ui-g-6 ui-md-6 ui-sm-12 ui-xs-12">
                <p-panel header="Products" *ngIf="products" [toggleable]="true" styleClass="dashboardPanels">
                  Total products: {{products.length}}
                </p-panel>
              </div>
              <div class="ui-g-6 ui-md-6 ui-sm-12 ui-xs-12">
                <p-panel header="Orders" *ngIf="orders" [toggleable]="true" styleClass="dashboardPanels">
                  Total orders: {{orders.length}} <br>
                  <span>Total Revenue: 
                    <span
                      [class.text-success]="revenueGreaterThanExpenses"
                      [class.text-danger]="!revenueGreaterThanExpenses"
                    >
                      {{totalRevenue | currency:'USD':true}}
                    </span>
                  </span>
                </p-panel>
              </div>
              <div class="ui-g-6 ui-md-6 ui-sm-12 ui-xs-12">
                <p-panel header="Vendor Orders" *ngIf="vendorOrders"[toggleable]="true" styleClass="dashboardPanels">
                  Total vendor orders: {{vendorOrders.length}} <br>
                  <span>Total Expenses: 
                    <span
                      [class.text-success]="!hasExpenses"
                      [class.text-danger]="hasExpenses"
                    >
                      {{totalExpenses | currency:'USD':true}}
                    </span>
                  </span>
                </p-panel>
              </div>
            </div>
          </p-panel>
        </div>
    </div>
    <!--Sidebar-->
    <div class="ui-g-2 ui-sm-12">
      <app-sidebar></app-sidebar>
      <br><br>
      <button 
        pButton 
        type="button"
        label="Pay Vendor"
        icon="fa-money"
        [disabled]="!payVendor"
        class="ui-messages-info"
        id="payVendorButton"
        (click)="onPayVendorClick()"
      >
      </button>
    </div>
  </div>
</div>
