<p-growl [value]="clientOrderMessages" styleClass="clientOrderGrowl"></p-growl>

<div class="ui-g">
  <!--MAIN Orders-->
    <div class="ui-g-6">
      <h2><i class="fa fa-book"></i> Orders</h2>
    </div>
    <div class="ui-g-6">
      <h5 class="pull-right text-muted">Total Revenue: 
        <span
          [class.text-success]="hasRevenue"
          [class.text-danger]="!hasRevenue"
        >
          {{totalRevenue | currency:'USD':true}}
        </span>
      </h5>
    </div>
    <!--Orders DATA-->


    <!--Confirmation Dialog -->
    <p-confirmDialog header="Confirmation" key="onRowSelect" icon="fa fa-question-circle"></p-confirmDialog>
  
    <div class="ui-g-12" *ngIf="orders">
      <p-dataTable
        [value]="orders"
        [responsive]="true"
        (onRowSelect)="onRowSelect($event)"
        styleClass="ordersTable"
      >
        <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column>
        <p-column header="Date" [style]="{'width':'15%'}"> 
          <ng-template let-col let-order="rowData" pTemplate='body'>
            <span>{{order.orderDate | date:'shortDate'}}</span>
          </ng-template>
        </p-column>
        <p-column field="orderNumber" header="ID" [style]="{'width':'15%'}" [filter]="true"></p-column>
        <p-column field="userId" header="Client ID" [style]="{'width':'20%'}"></p-column>
        <p-column header="No. of Products" [style]="{'width':'12%'}">
          <ng-template pTemplate="body" let-col let-order="rowData">
            <span>{{order.orderDetails.length}}</span>
          </ng-template>
        </p-column>
        <p-column header="Total" [style]="{'width':'12%'}">
          <ng-template let-col let-order="rowData" pTemplate='body'>
            <span>{{order.orderBalance | currency:'USD':true}}</span>
          </ng-template>
        </p-column>
        <p-column header="Del. Status" [style]="{'width':'16%'}">
          <ng-template pTemplate="body" let-col let-order="rowData" let-i="rowIndex">
            <p-toggleButton
              [(ngModel)]="order.isDelivered"
              pTooltip="Delivery Status: Once checked, you cannot uncheck it"
              [disabled]="deliveredCheck[i]"
              tooltipPosition="bottom"
              (onChange)="onDeliveredChange(order, i)"
              id="deliveredChkBox"
              onLabel="Delivered"
              styleClass="ordersDeliveredToggleButton"
            >
            </p-toggleButton>
          </ng-template>
        </p-column>
        <p-column header="Paid Status" [style]="{'width':'10%'}">
          <ng-template pTemplate="body" let-col let-order="rowData" let-i="rowIndex">
            <p-toggleButton
              [(ngModel)]="order.isPaid"
              pTooltip="Paid Status: Once checked, you cannot uncheck it"
              tooltipPosition="bottom"
              (onChange)="onPaidChange(order, i)"
              [disabled]="paidCheck[i]"
              onLabel="Paid"
              styleClass="ordersPaidToggleButton"
            >
            </p-toggleButton>
          </ng-template>
        </p-column>
        <p-footer *ngIf="orders">
          Total orders: {{orders.length}} 
        </p-footer>
      </p-dataTable>
    </div> <!--Orders DATA Ends-->
</div>