<button 
  pButton 
  type="button" 
  class="ui-button-success" 
  icon="fa-users" 
  iconPos="left" 
  label="View Clients" 
  (click)="onViewClientsClick()" 
  id="viewClientsButton"
>
</button>
<button 
  pButton 
  type="button" 
  class="ui-button-success" 
  icon="fa-product-hunt" 
  iconPos="left" 
  label="View Products" 
  (click)="onViewProductsClick()" 
  id="viewProductsButton"
>
</button>
<button 
  pButton 
  type="button" 
  class="ui-button-success" 
  icon="fa-book" 
  iconPos="left" 
  label="View Orders" 
  (click)="onViewOrdersClick()" 
  id="viewOrdersButton"
>
</button>
<button 
  pButton 
  type="button" 
  class="ui-button-success" 
  icon="fa-refresh" 
  iconPos="left" 
  label="View Vendor Orders" 
  (click)="onViewVendorOrdersClick()" 
  id="viewVendorOrdersButton"
>
</button>
