html, body {
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

.loginPanel .ui-panel-titlebar {
    text-align: center;
}

.loginGrowl.ui-growl,
.addClientGrowl.ui-growl,
.couponGrowl.ui-growl {
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
}

#loginButton.ui-button{
    width: 50%;
    margin-left: 25%;
}

.alert p {
    margin-bottom: 0;
    padding: 0;
}

p-inputmask.ng-dirty.ng-invalid > .ui-inputtext {
    border-bottom-color: transparent;
    border-color: red;
    box-shadow: -1px 0px 20px 0px rgba(159, 60, 50, 0.1);
}

#viewClientsButton.ui-button,
#viewProductsButton.ui-button,
#viewOrdersButton.ui-button,
#viewVendorOrdersButton.ui-button,
#addClientButton.ui-button,
#addProductButton.ui-button,
#viewCouponsButton.ui-button,
#addCouponButton.ui-button{
    display: block;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
}

.dashboardPanels .ui-widget-header a{
    color: white;
    background: #5cb85c;
}

.clientsTable .ui-state-default,
.productsTable .ui-state-default,
.clientOrdersTable .ui-state-default,
.couponsTable .ui-state-default,
.ordersTable .ui-state-default{
    background: #67b021;
}

.ordersTable tr.ui-widget-content{
    text-align: center;
}

.clientDetailSplitBtnMenu.ui-menu,
.productDetailSplitBtnMenu.ui-menu{
    width: 7.75em;
    left: 0 !important;
}

.clientDetailPanel .ui-panel-footer,
.couponDetailPanel .ui-panel-footer {
    background: #ece8da;
    border: 1px solid #d4ccb0;
    border-radius: 2px;
}

#loginRadioButton label.ui-radiobutton-label,
#addCouponChkBox label.ui-chkbox-label,
#couponTableChkBox label.ui-chkbox-label,
#deliveredChkBox label.ui-chkbox-label,
#paidChkBox label.ui-chkbox-label {
    margin-bottom: 0;
}

#loginRadioButton .ui-state-default,
#addCouponChkBox .ui-state-default,
#couponTableChkBox .ui-state-default,
#deliveredChkBox .ui-state-default,
#paidChkBox .ui-state-default{
    background: #ece8da;
}